<h1>Informações do seu browser</h1>
<p>Navegador: {{ browserData.name }}</p>
<p>Sistema Operacional: {{ browserData.os }}</p>
<p>Versão: {{ browserData.version }}</p>
<p>Tipo: {{ browserData.type }}</p>

<h1>Informações UserAgent</h1>
<p>{{ userAgentValue }}</p>
<h1>Function IsApp()</h1>
<p>isApp = {{isFacebookApp()}}</p>
<p>FBAN = {{fban}}</p>
<p>FBAV = {{fbav}}</p>
<p>Instagram = {{instagram}}</p>
<p>Plataforma = {{windowPlatform}}</p>
<h1>atualizei!</h1>
<!-- <div class="container-button">
  <button (click)="verifyBrowser()">Verificar Compatibilidade</button>
</div> -->
